@model IEnumerable<parking_automation_dotnet_core.Models.Parking>

    @{
    ViewBag.Title = "All Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between mb-5">
                <h3>Autoparking in List Cars</h3>
                <a class="text-white btn btn-success" asp-area="" asp-controller="Parking"
                    asp-action="Create">Create</a>
            </div>

            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Color</th>
                            <th scope="col">Plaque</th>
                            <th scope="col">Enter Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model != null && Model.Count() > 0)
                        {
                        foreach (var cars in Model)
                        {
                        // Create the list of these clients
                        <tr>
                            <td>@cars.ID</td>
                            <td>@cars.Name</td>
                            <td>@cars.Color</td>
                            <td>@cars.Plaque</td>
                            <td>@cars.EnterDate</td>
                            <td>
                                <a href="~/Client/Update/@cars.ID">Update</a>
                                <a href="~/Client/Delete/@cars.ID">Delete</a>
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>